* {
  margin: 0;
  padding: 0;
}

body {
  color: #ddd;
  background-color: #060606;
  overflow: scroll;
  overflow-x: hidden;
  font-family: sans-serif;
}

/* navigation start*/
.navbar {
  margin: 50px 250px;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  list-style: none;
}

.navbar-content li a {
  background-color: #ddd;
  text-decoration: none;
  color: #060606;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
}
/* navigation end */

/* home start */

/* me start */
.me {
  display: flex;
  margin: 10px 250px;
  margin-bottom: 100px;
  gap: 200px;
}

.me-text h1 {
  font-size: 24px;
}

.me-text p {
  font-size: 16px;
  padding-top: 50px;
}

.me-image .photo {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}
/* me end*/

/* skill start */
.skill {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 250px;
  gap: 300px;
}

.skill-image {
  display: flex;
  background-color: #ddd;
  flex-direction: column;
  border-radius: 10px;
}

.skill-image img {
  padding: 15px;
  width: 100px;
  height: 100px;
}

.skill-text h1 {
  font-size: 24px;
}

.skill-text p {
  font-size: 16px;
  padding-top: 50px;
}

.text-end {
  margin: 100px 250px;
  font-size: 16px;
}
/* skill end */

/* home end */

/* about start */
.text-about {
  margin: 100px 250px;
  margin-bottom: 300px;
}

.text-about h1 {
  font-size: 24px;
}

.text-about p {
  font-size: 16px;
  padding-top: 50px;
}
/* about end */

/* contact strat */
.header {
  text-align: center;
  font-size: 24px;
}

.link-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ddd;
  margin: 100px 300px;
  border-radius: 10px;
}

.link-contact img {
  width: 50px;
  height: 50px;
  padding: 20px;
}

.text-contact {
  margin: 100px 300px;
  font-size: 16px;
  margin-bottom: 300px;
}

/* contact end */

/* footer start */
.footer {
  background-color: #1e1e1e;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 250px;
}

.copyright ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}
/* footer end */
